@use "functions" as *;
@use "fonts" as *;
@use "variables" as *;

body {
    font-family: sans-serif;
    background-color: $cream-color;
    font-synthesis: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    height: fit-content;
    width: min-content;
    margin: 1.75rem auto;
    border-radius: 1rem;
    color: $grey-color;

    @include md {
        flex-direction: row;
        height: max-content;
        margin: auto;
    }

    .product-image {
        height: 240px;

        @include md {
            height: auto;
        }
    }

    .product-image img{
        display: block;
        height: inherit;
        border-radius: 1rem 1rem 0 0;

        @include md {
            width: 300px;
            border-radius: 1rem 0 0 1rem;
        }
    }

    .type {
        @include font-montserrat(700);
        font-weight: 700;
        font-size: 0.75rem;
        letter-spacing: 0.32rem;
        text-transform: uppercase;
    }

    h1 {
        @include font-fraunces(700);
        line-height: 100%;
        font-size: 2rem;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
        color: $black-color;

        @include md {
            margin: 1.375rem 0;
        }
    }

    .description {
        position: relative;
        padding: 1.375rem 1.5rem;

        @include md {
            padding: 2rem;
            width: 14.75rem;
            display: flex;
            flex-direction: column;
        }

        p {
            @include font-montserrat(500);
            letter-spacing: 0;
            font-size: 0.875rem;
            line-height: 1.43rem;

            @include md {
                margin: 0;
            }
        }

        .price {
            display: flex;
            gap: 1.25rem;
            align-items: center;
            margin-top: 1.25rem;
            margin-bottom: 1rem;

            @include md {
                margin-top: 1.625rem;
                margin-bottom: auto;
            }

            .main-price {
                @include font-fraunces(700);
                font-size: 2rem;
                color: $green-500-color;
            }

            .original-price {
                @include font-montserrat(400);
                font-size: 0.8125rem;
                text-decoration: line-through;
            }
        }

        .cta {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;
            width: 100%;
            height: 3rem;
            border: none;
            border-radius: 0.5rem;
            background-color: $green-500-color;
            padding: 0.875rem;
            @include font-montserrat(700);
            font-size: 0.875rem;
            color: $white-color;

            @include md {
                align-self: flex-end;
            }

            .icon {
                height: 1.2rem;
                fill: $white-color;
            }
        }

        .cta:hover {
            background-color: $green-700-color;
        }
    }
}